mixin light(comp)
    if (comp.props.state == "1")
        img(id=comp.id).onBulb(src="/views/images/bulbOn1.png" alt="Bulb On Image")
    else
        img(id=comp.id).offBulb(src="/views/images/bulbOff.png" alt="Bulb Off Image")
    br
    p #{comp.name}
    script.
      socket.on(deviceIdGlobal+"#{comp.id}", function(data) {
        console.log(data);
        var state = data.state;

        if(state == 1){
          $('#'+"#{comp.id}").attr("src", "/views/images/bulbOn1.png");
        }
        else{
          $('#'+"#{comp.id}").attr("src", "/views/images/bulbOff.png");
        }
      });