mixin button(data)
    button(id=data.name style="width:"+ (data.props.size*10)+"px; height: "
    +(data.props.size*10)+"px;")= data.props.text + " HiNigg"
    

mixin lightButton(data)
    if (data.state == "1")
        button(id=data.name style="color: "+data.props.color+"")= data.props.text
        img.onBulb#bulbOne(src="/views/images/bulbOn1.png" alt="Bulb On Image")
    else
        button(id=data.name style="color: "+data.props.color+"")= data.props.text  
        img.offBulb#bulbTwo(src="/views/images/bulbOff.png" alt="Bulb Off Image")
        
mixin grid(props)
  -
    var props = props || {}
    var dataSource = props.dataSource || {};
    var columns = props.columns || [];
    
  mixin column(attrs)
    -
      var attrs = attrs || attributes;
      columns.push(attrs);
  table.table
    colgroup    
      each column in columns
        col(style=column.width ? `width: ${column.width}` : null)

    thead
      tr
        each column in columns
          if column.headCellTemplate
            th(class=column.headCellClass) !{column.headCellTemplate(column)}
          else
            th(class=column.headCellClass) #{column.title}
    tbody
      each dataItem, rowIndex in dataSource
        tr         
          each column in columns
            - var dataElement = dataSource[rowIndex];
            if (column.cellTemplate)
              td(class=column.cellClass) !{column.cellTemplate(dataElement)}
            else
              td(class=column.cellClass) #{dataElement[column.key]}