mixin button(comp)
    button(id=comp.id)= comp.props.text
    script.
      $("#"+"#{comp.id}").on('click', function(){
        buttonClicked(deviceIdGlobal, "#{comp.id}", "#{comp.name}", "#{comp.props.state}");
      });
      
      
    

mixin light(comp)
    if (comp.props.state == "1")
        img(id=comp.id).onBulb(src="/views/images/bulbOn1.png" alt="Bulb On Image")
    else
        img(id=comp.id).offBulb(src="/views/images/bulbOff.png" alt="Bulb Off Image")
    br
    p #{comp.name}
    script.
      socket.on(deviceIdGlobal+"#{comp.id}", function(data) {
        console.log(data);
        var state = data.state;

        if(state == 1){
          $('#'+"#{comp.id}").attr("src", "/views/images/bulbOn1.png");
        }
        else{
          $('#'+"#{comp.id}").attr("src", "/views/images/bulbOff.png");
        }
      });

mixin grid(props)
  -
    var props = props || {}
    var dataSource = props.dataSource || {};
    var columns = props.columns || [];
    
  mixin column(attrs)
    -
      var attrs = attrs || attributes;
      columns.push(attrs);
  table.table
    colgroup    
      each column in columns
        col(style=column.width ? `width: ${column.width}` : null)

    thead
      tr
        each column in columns
          if column.headCellTemplate
            th(class=column.headCellClass) !{column.headCellTemplate(column)}
          else
            th(class=column.headCellClass) #{column.title}
    tbody
      each dataItem, rowIndex in dataSource
        tr         
          each column in columns
            - var dataElement = dataSource[rowIndex];
            if (column.cellTemplate)
              td(class=column.cellClass) !{column.cellTemplate(dataElement)}
            else
              td(class=column.cellClass) #{dataElement[column.key]}