include ../components/button
include ../components/light

mixin grid(props)
  -
    var props = props || {}
    var dataSource = props.dataSource || {};
    var columns = props.columns || [];
    
  mixin column(attrs)
    -
      var attrs = attrs || attributes;
      columns.push(attrs);
  table.table
    colgroup    
      each column in columns
        col(style=column.width ? `width: ${column.width}` : null)

    thead
      tr
        each column in columns
          if column.headCellTemplate
            th(class=column.headCellClass) !{column.headCellTemplate(column)}
          else
            th(class=column.headCellClass) #{column.title}
    tbody
      each dataItem, rowIndex in dataSource
        tr         
          each column in columns
            - var dataElement = dataSource[rowIndex];
            if (column.cellTemplate)
              td(class=column.cellClass) !{column.cellTemplate(dataElement)}
            else
              td(class=column.cellClass) #{dataElement[column.key]}